* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/*----------header----------*/


.titulo-principal {
    background-color: black;
    padding: 0px 0px 5px;
}

.titulo-principal h1 {
    padding: 10px 10px 0px;
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.navbar-nav a {
    padding: 10px;
    color: #000;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}

.navbar-nav a:hover {
    background: #000;
    color: rgb(230, 123, 240);

}

.busqueda {
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: black;
    text-align: center;
    width: 100%;
    padding: 20px 10px 10px;
}

.busqueda input {
    border: 1px solid rgb(230, 123, 240);
    border-radius: .25rem;
    color: rgb(0, 0, 0);
    background-color: white;

}

/*-----------------principal index-----------*/
.titulos1 {
    display: flex;
    background-color: #ffa3f1;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    width: 100%;
    text-align: center;
    
}

.titulos1 img {
    width: 80px;
}



.recomendaciones {
    color: rgb(0, 0, 0);
    background-color:#ffc6f6;
    box-sizing: border-box;
    margin-top: 20px;
}

.recomendaciones p {
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    justify-content: center;
}

.index-imagenes {
    display: flex;
    flex-wrap: wrap;
}

.index-imagenes img {
    width: 550px;
}


.visita-nuestra {
    color: rgb(0, 0, 0);
    background-color: #fcb6f1;
}

.visita-nuestra p {
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    justify-content: center;

}

.ver-mas {
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: center;
    padding: 10px;

}

.ver-mas a {
    text-decoration: none;
    color: #e665d2;
}

.ver-mas button {
    background-color: white;
    border-color: #e665d2;
    padding: 8px;

}



/*--------------footer----------------*/

.footer-index {
    background-color: #000;
    font-family: 'Roboto Slab', serif;
    color: #FDFCFB;
    text-align: center;
}


form {
    width: 450px;
    justify-content: center;
    margin: auto;
}


.header {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 5px;
}


.description {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.3em;
    margin: -2px 0 45px;
}


.input {
    display: flex;
    align-items: center;
    padding: 10px
}

.input input {
    width: 500px;
    height: 40px;
    border: none;
}

.redes-sociales a {
    color: black;
    display: flex;
    justify-content: center;
    text-decoration: none;

    i {
        font-size: 40px;
        padding: 10px;

    }
}