* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*----------header----------*/
.titulo-principal {
  background-color: black;
  padding: 0px 0px 5px;
}

.titulo-principal h1 {
  padding: 10px 10px 0px;
  font-size: 35px;
  color: white;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.navbar-nav a {
  padding: 10px;
  color: #000;
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
}

.navbar-nav a:hover {
  background: #ffc6f6;
  color: black;
}

.busqueda {
  font-size: 20px;
  color: white;
  background-color: black;
  text-align: center;
  width: 100%;
  padding: 20px 10px 10px;
}

.busqueda input {
  border: 1px solid #ffc6f6;
  border-radius: .25rem;
  color: black;
  background-color: white;
}

/*-----------------principal index-----------*/
.titulos1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e6e6e6;
  color: black;
  font-size: 30px;
  font-family: 'Roboto Slab', serif;
  width: 100%;
  text-align: center;
}

.titulos1 img {
  width: 80px;
}

.bem__ejemplo {
  color: black;
  background-color: #ffc6f6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
}

.bem__ejemplo p {
  font-size: 40px;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bem__ejemplo--tienda {
  background-color: #f8f9fa;
  font-size: 20px;
  font-weight: bold;
}

.index-imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.index-imagenes img {
  width: 550px;
}

.visita-nuestra {
  color: black;
  background-color: #fcb6f1;
}

.visita-nuestra p {
  font-size: 40px;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ver-mas {
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.ver-mas a {
  text-decoration: none;
  color: #e665d2;
}

.ver-mas button {
  background-color: white;
  border-color: #e665d2;
  padding: 8px;
}

/*--------------footer----------------*/
.footer-index {
  background-color: #000;
  font-family: 'Roboto Slab', serif;
  color: #FDFCFB;
  text-align: center;
}

.footer-suscripcion {
  width: 450px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.suscribete {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.descripcion {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 45px;
}

.descripcion-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.descripcion-input input {
  width: 500px;
  height: 40px;
  border: none;
}

.redes-sociales a {
  color: #e67bf0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.redes-sociales a i {
  font-size: 40px;
  padding: 10px;
  font-family: 'Roboto Slab', serif;
}
/*# sourceMappingURL=index.css.map */